<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreenRecoderForGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCFA52E11CC8CB0400EB6FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCFA52FA1CC8CB0400EB6FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCFA53051CC8CB0400EB6FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
